.taskbar {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 2.5rem;
  background-color: #000000ab;
  padding: 0 1rem;
  z-index: 2;
}

.taskbar .item {
  display: flex;
  height: 2.5rem;
  width: 2.5rem;
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: .5rem;
}

.taskbar .item:hover {
  background-color: #00000038;
}

.taskbar .item.logo {
  background-image: url(https://i.imgur.com/kQpsj10.png);
}

.taskbar .space {
  width: 1.5rem;
}