.window {
  position: fixed;
  user-select: none;
  border-radius: .5rem;
  top: 10%;
  left: 10%;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  border: 1px solid #e2e2e2;
  border-radius: .5rem;
  background-color: white;
}

.buttons {
  position: absolute;
  height: 1.5rem;
  padding: .1rem .5rem;
}

.close {
  background: #ff5c5c;
  font-size: 9pt;
  line-height: 11px;
  width: 11px;
  height: 11px;
  border: 1px solid #e33e41;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.close:hover .closebutton {
  color: #4e0002;
  visibility: visible;
}

.closebutton {
  color: #820005;
  visibility: hidden;
  cursor: default;
}

.minimize {
  background: #ffbd4c;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #e09e3e;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.minimize:hover .minimizebutton {
  color: #5a2607;
  visibility: visible;
}

.minimizebutton {
  color: #9a5518;
  visibility: hidden;
  cursor: default;
}

.zoom {
  background: #00ca56;
  font-size: 9pt;
  line-height: 11px;
  margin-left: 4px;
  width: 11px;
  height: 11px;
  border: 1px solid #14ae46;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.zoom:hover .zoombutton {
  color: #003107;
  visibility: visible;
}

.zoombutton {
  color: #006519;
  visibility: hidden;
  cursor: default;
}

.title {
  height: 1.5rem;
  min-width: 2rem;
  background-color: white;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: .5rem .5rem 0 0;
}

.content {
  background-color: white;
  border-radius: 0 0 .5rem .5rem;
  overflow: auto;
}
